div.logo {
	margin-top: 0px;
	margin-left: 100px;
	margin-bottom: 31px;
	padding: 3px 20px 10px;
	float: left;
}
div.main {
	background-color: #080808;
	margin: 0 auto;
	width: 990px;
	margin-bottom: 0px;
	/* height: 300%; */
	/* display: block; */
	box-shadow: 0px -10px 25px 10px rgba(15, 15, 15, 0.4)
}
a.doc {
	color: #fff;
	text-decoration: none;
	text-align: right;
	display: inline-block;
}
footer {
	margin-left: auto;
	text-align: right;
	display: block;
	padding: 20px;
}
h1.logo {
	font-family: 'Montserrat', sans-serif;
	margin-top: 70px;
	color: #FFF;
	font-size: 50px;
}
hr {
	clear: left;
	border-color: #d9d9d9;
	width: 100%;
}
li {
	color: #fff;
}
p.logo {
	color: rgb(102, 103, 101);
	padding-left: 10px;
	margin-top: -20px;
}
section {
	margin-top: 40px;
	margin-left: 100px;
	padding-bottom: 50px;
}
p {
	color: #fff;
}
h2 {
	color: rgb(102, 103, 101);
	font-size: 34px;
	padding: 30px 0px;
}
h3 {
	color: #d9d9d9;
	font-size: 20px;
	padding: 10px 10px;
}
h3:hover {
	color: #dcdcdc;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
li {
	margin-bottom: 15px;
}
body {
	margin: 0px;
}
 nav {
	padding-top: 70px;
	text-align: right;
	margin-right: 100px;
}

nav > li {
	list-style-type: none;
	display: inline-block;
	margin: 10px 30px;
}

.mainsection {
  height: 20px;
  width: 90%;
  background-image: radial-gradient(
    farthest-side at 50% -50%,
    hsla(0, 0%, 100%, 0.5),
    hsla(0, 0%, 100%, 0));
	border-color:black;
	border: none;
}
 