div.logo {
	margin-top: 0px;
	margin-left: 100px;
	margin-bottom: 31px;
	padding: 3px 20px 10px;
}
div.main {
	background-color: #080808;
	margin: 0 auto;
	width: 990px;
	height: 300%;
	display: block;
	box-shadow: 0px -10px 25px 10px rgba(15, 15, 15, 0.4)
}
h1.logo {
	font-family: 'Montserrat', sans-serif;
	margin-top: 70px;
	color: #FFF;
	font-size: 50px;
}
hr {
	border-color: #d9d9d9;
	width: 100%;
}
li {
	color: #fff;
}
section {
	margin-top: 40px;
	margin-left: 100px;
	padding-bottom: 50px;
}
p {
	color: #fff;
}
h2 {
	color: rgb(102, 103, 101);
	font-size: 34px;
	padding: 30px 0px;
}
h3 {
	color: rgb(115, 117, 118);
	font-size: 20px;
	padding: 10px 10px;
}
li {
	font-size: 18px;
	margin-bottom: 15px;
}
body {
	margin: 0px;
}
